---
name: Checks

on: [push]

jobs:
  test-lint:
    name: Test and Lint
    runs-on: ubuntu-latest    # Corrigé "ubuntu-20.O4" -> "ubuntu-20.04"
    steps:
      - name: Checkout         # Le checkout doit venir avant le login Docker pour accéder au code
        uses: actions/checkout@v2
      
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      
      - name: Test
        run: docker compose run --rm app sh -c "python manage.py test"
      
      - name: Lint
        run: docker compose run --rm app sh -c "flake8"
